<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- OTHER META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- WEBSITE TITLE -->
    <title>My Website</title>

    <!-- WEBSITE DESCRIPTION -->
    <meta name="description" content="This is my cool website!" />

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/jpg" href="/path/to/your/favicon/" />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <!-- *currently set to "Roboto". Feel free to change it to whatever you like* -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS STYLE LINK -->
    <link rel="stylesheet" href="./styles/main.css" />
  </head>
  <body>
    <!-- WEBSITE CONTENT GOES HERE -->
  </body>
</html>
